<button class="btn btn-primary" *ngIf="!state" (click)=" toggle() ">Show</button>
<button class="btn btn-primary" *ngIf="state" (click)=" toggle() ">Hide</button>
<p appMyDirectiver *ngIf="state" appMyDirectiver>YASEEN</p>
<div appMyDirectiver style="width:400px; height:400px; overflow:auto;">
    <!-- <p [ngClass]="{ 'first': i>4}" *ngFor=" let d of details; index as i ">{{i+1}} ) {{d}}</p> -->
    <table class=" table " [ngClass]="{ 'first': i>4}" *ngFor=" let d of appService.loggs; index as i ">
        <tr *ngIf="i==0">
            <td>Number</td>
            <td>Time</td>
        </tr>
        <tr>
            <td>{{i+1}}</td>
            <td>{{d}}</td>
        </tr>
    </table>
</div>